:root{
  --white: rgb(254,254,254);
  --light-blue: rgb(131,191,233);
  --lighter-blue: rgb(98, 157, 199);
  --black: rgb(26,26,26);
}

body{
  background-color: var(--white);
  margin: 10px;
  padding: 10px
}

#header{
  margin: 0px;
  padding: 0px;
  height: 80px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  border-top: 5px solid var(--light-blue);
  background: var(--black);
  color: var(--white);
}


.logo{
  font-family: monospace;
  width: 30%;
  font-size: 30px;
  float: left;
  margin-top: 35px;
}

.logo a{
  text-decoration: none;
}


.center{
  width: 75%;
  margin: 0px auto;
}
.clearfix{
  clear:both;
  float: none;;
}

#menu{
  width: 70%;
  float: right;
  font-size: 18px;
  color: var(--white)
}
#menu ul{
  line-height: 85px;
  width: 75%;
  float:right;
}
#menu ul li{
  display: inline-block;
  list-style: none;
  height: 46px;
  margin-left: 15px;
  margin-right: 15px;
}

#menu a{
  text-decoration: none;
  transition: 300ms all;
}
#menu a:hover{
  color: var(--light-blue);
}

.icon-wrap{
  float: right;
  width: 50%;   
}

#icon{
  max-width: 100%;
        max-height: 100%;
        display: block; /* remove extra space below image */
}
.presentation{
  margin-left: 70px;
  margin-right: 70px;
  width: 100%;
  display: block;
  margin-bottom: 100px;
}
.presentation-text{
  float: left;
  width: 45%;
}
.presentation-text h1{
  font-size: 50px;
  font-family: 'Playfair Display', serif;
}

h1,h2{
  font-family: 'Playfair Display', serif !important;
}
.presentation-text h2{
  font-size: 24px;
  color: var(--light-blue);
 
  /*text-transform: uppercase;
  font-family: 'Tourney', cursive;*/
}
.presentation-text p{
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  line-height: 20px; 
  margin-top: 20px;
  margin-bottom: 0% !important;
}
.btn-group{
  margin-top: 25px  !important;
  display: inline-block  !important;
}
/*a.btn{
  font-size: 20px !important;
  font-family: 'Tourney';
}
.btn:hover{
  font-size: 25px;
  transition: 300ms all;
}

.btn-main, .btn-sec:hover{
  background: var(--black);
  color: var(--white);
}
.btn-sec, .btn-main:hover{
  background: var(--white);
  color: var(--black);
}*/

.subheader{
  font-family: 'Playfair Display', serif;
  font-size: 35px;
  text-align: center;
}
.icons a{
  text-decoration: none;
}

.icons svg{
  height: 140px;
  margin: 10px;
  padding: 10px;
  columns: 3;
}
.icons svg:hover{
  transform: scale(1.5);
  transition: 300ms all;
}
.contact-icons{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}
.contact-icons svg{
  height: 80px;
}

.img-container{
  margin-top: 30px;
  height: 130px;
}
.img-container > img{
  
  display: block !important;
  height: auto !important;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.btn-view{
  position: absolute;
  bottom: 20px;
  right:20px
}
.modal-image{
  width: 90rem;
}
.card-deck {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: .5rem;
}
.tech{
  color:var(--black);
  border: 1px solid var(--black) ;
  margin-right: 10px;
  padding: 8px;
  text-transform: uppercase;
  font-size: 13px;
}

.profile-wrap >img{
  width: 85%;
}
.description > h1{
  margin-top: 4vh;
}
@media(min-width: 1500px){
  .presentation-text{
    padding-left: 150px;
    padding-top: 10vh;
  }
  .icon-wrap{
    margin-right: 150px;
  }
}
@media(max-width:1499px){
  .presentation-text{
    padding-top: 4vh;
  }
  
}
@media(max-width:1199px){
  .presentation-text{
    padding-top: 0vh;
  }
  .profile-wrap >img{
    padding-top:15vh;
    height: 50vh;
    width: auto;
    display: block !important;
    margin:auto !important;
  }
  .description{
    padding-top: 5vh;
    padding-bottom: 10vh;
    padding-left: 12vw;
    padding-right: 12vw;
  }
  .icons svg{
    height: 120px;
  }

  
}

@media(max-width:1599px){
  .description >h1{
    margin-top: 0vh !important;
  }
}
@media(max-width:1400px){
  .profile-wrap >img{
    padding-top:7vh;
  }

}
@media(max-width:900px){
  .contact-icons svg{
    height: 65px;
  }

}
